.home {
  display: flex;
  justify-content: space-between;
  background-color: #FFDAB9;
}

.home-logo {
  padding-top: 5px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  
}

.sign-up {
  font-size: 20px;
}

.login {
  padding: 0 90px;
  font-size: 20px;
}

.home-image {
  width: 100vw;
  height: 85vh;
  opacity: 0.8;
}